<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1088975570381-qs0r0ah4g9difhdo2p4t04drp1f649a9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1088975570381-qs0r0ah4g9difhdo2p4t04drp1f649a9</string>
	<key>API_KEY</key>
	<string>AIzaSyCdlIzaOQlxT_fs-0Kh2fGzZZYSX_V6gnk</string>
	<key>GCM_SENDER_ID</key>
	<string>1088975570381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firbaseChat</string>
	<key>PROJECT_ID</key>
	<string>firapp-caede</string>
	<key>STORAGE_BUCKET</key>
	<string>firapp-caede.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088975570381:ios:bfa563d9522d2532a63084</string>
	<key>DATABASE_URL</key>
	<string>https://firapp-caede.firebaseio.com</string>
</dict>
</plist>